#button {
  display: inline-block;
  background-color: #fc887b;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius:30px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 35px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 9px 2px; 
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}
