.nav-categore{

    border-bottom: 1px solid #e5e5e5;
    height: 185px;
    .list-categore{
        ul{
            display:flex;
            margin: 0px;
            padding: 0px;
            border-left: 1px solid #ccc;
            li{
                width: 100%;
                height: 185px;
                border-top: none;
                text-align: center;
                .categore{
                    padding-top: 40px;
                    .categore-icon{
                        font-size: 53px;
                    }
                    .categore-text{
                        font-size: 18px;
                    }
                }
                &:last-child{
                    border-right: 1px solid #ccc;
                }
                
                &:hover{
                    background: #f28478;
                    .categore{
                        color: #fff;
                    }
                }
            } 
        }
    }
}
@media (min-width: 1200px){
    .owl-carousel .owl-dots .owl-dot span{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px){
    .nav-categore .container{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .owl-carousel .owl-nav.disabled+.owl-dots {
        margin-bottom: -20px;
    }
    .owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span{
        background: #fc887b;
    }
}



@media (min-width: 768px) and (max-width: 991px){
    .nav-categore .container{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .owl-carousel .owl-nav.disabled+.owl-dots {
        margin-bottom: -20px;
        
    }
    .owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span{
        background: #fc887b;
    }
}


@media (min-width: 425px) and (max-width: 767px){
    .nav-categore .container{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .owl-carousel .owl-nav.disabled+.owl-dots {
        margin-bottom: -30px;
        
    }
    .owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span{
        background: #fc887b;
    }
}
@media (max-width: 375px){
    .nav-categore .container{
        max-width: 100%;
        padding: 0;
        margin: 0;
    }
    .owl-carousel .owl-nav.disabled+.owl-dots {
        margin-bottom: -65px;
        
    }
    .owl-carousel .owl-dots .owl-dot.active span, .owl-carousel .owl-dots .owl-dot:hover span{
        background: #fc887b;
    }
}