.list-categore{
    margin-right: 50px;
}
.categore{
    border-right: 1px solid #e5e5e5;
    height: 180px;
    padding-top: 22px;
    border-bottom: none;
    width: 200px;
}
#categore-salon:first-child{
    border-left: 1px solid #e5e5e5;
}
.categore:hover{
     background: #f28478;
     color: #ffff;
}
.nav-categore{
    border-bottom: 1px solid #e5e5e5;
}
.categore-icon{
    font-size: 53px;
    margin-left: 36px;
    padding-top: 16px;
}
.categore-icon span{
    margin-left: 50px;

}
.categore-text{
    margin-left: 70px;
    margin-top: -10px;
}
@media (max-width: 1200px){
    .categore {
        width: 100%;
    }
}
