.content-backgroud{
    border: 1px solid #ccc;
    height: 310px;
    .content
    {
        .icon
        {
            margin-left: 52px;
            .icon-iteam
            {
                span{
                       position: absolute;
                        top: 13%;
                        left: 25%;
                        font-size: 50px;
                        color: #fff;
                    }
               
            }
        }
        .icon-number
        {
            position: absolute;
            top: 36%;
            left: 45%;
            p
            {
                position: absolute;
                color: #ffff;
                top: 30%;
                left: 38%;
            }
        }
        .content-text
        {
            padding-top: 8px;
            margin-left: 25px;
            p
            {
                text-align: left;
            }
        }
    }
}
.content-list{
    margin-top: 50px;
}
.icon-back::before{
    position: absolute;
    content:"";
    width: 128px;
    height: 13px;
    background: url(../image/Arrow.png);
    left: -50px;
    top: 75px; 
    z-index: 100;
}
.icon-back::after{
    position: absolute;
    content:"";
    width: 128px;
    height: 13px;
    right: -63px;
    top: 75px;
    background: url(../image/Arrow.png);
    z-index: 100;
}
@media screen and (max-width: 768px)
{
    .icon-iteam{
        position: absolute;
        left: 8%;
        top: 15%;
    }
    .icon-number{
        margin-left: -127px;
    }
    .icon-back::before{
        display: none;
    }
    .icon-back::after{
        display: none;
    }
}
@media screen and (max-width: 320px)
{
    .icon-number{
        margin-left: 12px;
    }
    .icon-iteam{
        position: absolute;
        left: 8%;
        top: 15%;
    }
}