.get-link-app{
    width: 100%;
    background-image: url(../image/AppDownload.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 72px;
    .get_link{
        .box-img{   
            img{
                width: 100%;
                vertical-align: middle;
                display: inline-block;
            }
        }
        .link-app{
             margin-top: 256px;
             margin-left: 12px;
            .img-app{
                padding-bottom: 10px;
                display: flex;
                .google_play{
                    img{
                        width: 100%;
                    }
                }
                .iphone{
                    margin-left: 8px;
                    img{
                        width: 100%;
                    }
                }
            }
            .text-app{
                padding-bottom: 10px;
                h1{
                    font-size: 44px;
                    font-weight: 700;
                    letter-spacing: 1.4;
                }
                strong{
                    color: #fc887b;
                    line-height:2;
                }

            }
            .text-app-title{
                padding-bottom: 10px;
                p{
                    font-size: 16px;
                }
            }    
        }
    }
}
@media (min-width: 1024px) and (max-width: 1199px){
    .get-link-app .get_link .link-app{
        margin-left: 60px;
        margin-top: 115px;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .get_link{
        display: inline-flex;
    }
    .box-img{
        margin-top: 16px;
        img{
            max-width: 100%;
        }
    }
    .get-link-app .get_link .link-app{
        margin-top: inherit;
        margin-top: 50px;
    }
}
@media (max-width: 767px){
    .get_link{
        display: flex;
        flex-direction: column-reverse;
    }
    .get-link-app .get_link .link-app{
        margin-top: inherit;
    }
}