
.section-product{
    padding-top: 81px;
}

.nav-product{
    background-image: url(../image/JivaSpa.png);
    width: 100%;
    height:1515px;
    padding-top: 30px;
}
.list-product{
    color: #ffff;
    .title{
        text-align: center;
        padding-top: 10px;
        letter-spacing: 1px;
        .title-main{
            padding-top: 15px;
            padding-left: 36px;
            h1{
                font-size: 32px;
            }
        }
        .title-line{
            margin-top: -6px;
             margin-left: 35px;
        }
        .title-text{
            padding-top: 10px;
            p{
                font-size: 16px;
                font-weight: 400;
            }
        }
    }
}
.all-product{
    color: #fff;
    width: 100%;
}
.product{
    padding-top: 54px;
    margin-left: 0px;
}
.product_1{
    padding-top: 30px;
    margin-left: 7px;
}
.tab-content{
    margin-left: 24px;
}
ul.nav-tabs{
    padding-top: 40px;
    margin-left: 310px;
    border-bottom: 0px;
    li{margin-left: 30px;}

}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
    background-color: #fc887b;
    border: none;
    outline: none;
    transition: all 0.6s ease 0s;
    -moz-transition: all 0.9s ease 0s;
    -webkit-transition: all 0.9s ease 0s;
    -o-transition: all 0.9s ease 0s;
}
.tab-content{
    .tab-pane{
        .all-product{
            .product_1{
                .button-view{
                    text-align: center;
                    padding-top: 67px;  
                    margin-left: -16px;
                    padding-bottom: 35px;

                }
            }
        }
    }
}
.button-view{
    
    a{
        button{
            color: #ffff;
            background: #fc887b;
            width: 150px;
            height: 50px;
            border: none;
        }
        button:hover{
            color: #ffff;
            background: black;
            transition: all 0.6s ease 0s;
            -moz-transition: all 0.9s ease 0s;
            -webkit-transition: all 0.9s ease 0s;
            -o-transition: all 0.9s ease 0s;
        }
        button:focus{
            outline: none;
        }
    }
}
@media (max-width: 1200px){
    .new-product{
        border: 1px solid #6c757d;
        background: #fff;
        position: static;
        width: 100%;
    }

}