.slider_main{
    margin-left: 24px;
    .owl-nav{
         
        .owl-prev{
            left:-10%;
            font-size: 35px;
            position: absolute;
            right: 0;
            border: 1px solid;
            border-radius: 25px;
            width: 100px;
            &:hover{
                background: #fc887b;
                color: #fff;
            }  
            span{
                font-size: smaller;
            }
        }
        .owl-next{
            right: -10%;
            font-size: 35px;
            position: absolute;
            border: 1px solid;
            border-radius: 25px;
            width: 100px;
            &:hover{
                background: #fc887b;
                color: #fff;
            }   
            span{
                font-size: smaller;
            }
        }
    }
}


.slide-product{

    padding-top: 48px;
    margin-bottom: 45px;
}
.new-product{
    background: #fff;
    position: relative;
    width: 100%;
    height: 480px;

}
.new-product:hover .text-product{
    border: 1px solid #fc887b;
    border-top: none;
}
.text-product{
    border: 1px solid #6c757d;
    border-top: none;
    padding-top: 17px;
    .product-tille{
        color: rgb(43,56,64);
        padding:0px 30px;
        h4{
            margin: 0px;
        }
    }
    .product-phude{
        padding: 10px 25px 0 25px;
        &:hover{
            color: #fc887b;
        }
        p {
            font-family: 'Poppins', sans-serif;
            font-weight: 300;
            color: #c0c0c0;
        }
    }
    .main_diachi{
        display: flex;
        justify-content: space-around;
        padding: 5px;
        .diachi{   
        padding: 5px; 
            p{
                display: inline-block;
                color: black;
                font-weight: 400;
            }
            i{
                color: #fc887b;
            }
        }
        .button-product{
            a{
                button{
                    border: 1px solid #c0c0c0;
                    background: transparent;
                    border-radius: 15px;
                    padding: 5px 20px 5px 20px;
                    color: black;
                    &:hover{
                        color: #ffff;
                        background: #fc887b;
                        transition: all 0.3s ease 0s;
                        -moz-transition: all 0.3s ease 0s;
                        -webkit-transition: all 0.3s ease 0s;
                        -o-transition: all 0.3s ease 0s;
                    }
                    &:focus{
                        outline: none;
                    } 
                }
            }
        }

    }
    .title-like{
        border-top: 1px solid #B2B2B2;
        display: flex;
        justify-content: space-around;
        padding: 10px;
        .text-like{
            color: black;
            padding-top: 8px;
        }
        .like{
            color: black;
            padding-top: 5px;
            .border-like{
                border: 1px solid #c0c0c0;
                width: 35px;
                height: 35px;
                border-radius: 20px;
                input{
                    margin-left: 3px;
                    margin-top: 6px;
                }
                .heart {
                    visibility:hidden;
                    font-size:15px;
                    cursor:pointer;
                    text-align: center;
                    margin-top: 10px;
                    &:before {
                        font-family: 'icomoon';
                        content: "\e90a";
                        position: absolute;
                        visibility:visible;
                        color:#fc887b;
                    }
                    &:checked:before {
                        font-family: 'icomoon';
                        content: "\e90c";
                        position: absolute;
                        color:black;
                    }
                }
            }
        }
    }
    .price{
        position: absolute;
        top: 44%;
        left: 5%;
        img{
            position: relative;
        }
        .price-text{
            p{
                position: absolute;
                top: 10%;
                left: 40%;
                color: #ffff;
            } 
        }
    }
    .type{
        position: absolute;
        top: 4%;
        right: 5%;
        color: black;
        img{
            position: relative;
        }
        p{
            position: absolute;
            top: 10%;
            right: 30%;
            color: #ffff;
        }
    }
}
.product-con{
    border: 1px solid #B2B2B2;
}
.product-image{
    overflow: hidden;
}
.product-image img{
   width: 100%;
   -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
.product-image:hover img {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}
#rating {
    position: absolute;
    bottom: 50%;
    left: 76%;
}
#rating_1 {
    position: absolute;
    bottom: 50%;
    left: 76%;
}
#rating_2 {
    position: absolute;
    bottom: 50%;
    left: 76%;
}
#rating_3 {
    position: absolute;
    bottom: 50%;
    left: 76%;
}
#rating_4 {
    position: absolute;
    bottom: 50%;
    left: 76%;
}
#rating_5 {
    position: absolute;
    bottom: 50%;
    left: 76%;
}
#rating{border:none;float:left;}
#rating>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating>label:before{font-size:12px;font-family:FontAwesome;display:inline-block;content:"\f005";margin: 2px;}/*1 ngôi sao*/
#rating>.half:before{content:"\f089";position:absolute;margin-top: 4px;}/*0.5 ngôi sao*/
#rating>label{color:#797979;float:right; }/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating>input:checked~label,
#rating:not(:checked)>label:hover, 
#rating:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating>input:checked+label:hover,
#rating>input:checked~label:hover,
#rating>label:hover~input:checked~label,
#rating>input:checked~label:hover~label{color:#FFED85;}

/****   rating_1   ****/
#rating_1{border:none;float:left;}
#rating_1>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating_1>label:before{margin:2px;font-size:12px;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating_1>.half_1:before{content:"\f089";position:absolute;margin-top: 4px;}/*0.5 ngôi sao*/
#rating_1>label{color:#797979;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating_1>input:checked~label,
#rating_1:not(:checked)>label:hover, 
#rating_1:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating_1>input:checked+label:hover,
#rating_1>input:checked~label:hover,
#rating_1>label:hover~input:checked~label,
#rating_1>input:checked~label:hover~label{color:#FFED85;}

/****   rating_2   ****/
#rating_2{border:none;float:left;}
#rating_2>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating_2>label:before{margin:2px;font-size:12px;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating_2>.half_2:before{content:"\f089";position:absolute;margin-top: 4px;}/*0.5 ngôi sao*/
#rating_2>label{color:#797979;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating_2>input:checked~label,
#rating_2:not(:checked)>label:hover, 
#rating_2:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating_2>input:checked+label:hover,
#rating_2>input:checked~label:hover,
#rating_2>label:hover~input:checked~label,
#rating_2>input:checked~label:hover~label{color:#FFED85;}


/****   rating_3   ****/
#rating_3{border:none;float:left;}
#rating_3>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating_3>label:before{margin:2px;font-size:12px;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating_3>.half_3:before{content:"\f089";position:absolute;margin-top: 4px;}/*0.5 ngôi sao*/
#rating_3>label{color:#797979;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating_3>input:checked~label,
#rating_3:not(:checked)>label:hover, 
#rating_3:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating_3>input:checked+label:hover,
#rating_3>input:checked~label:hover,
#rating_3>label:hover~input:checked~label,
#rating_3>input:checked~label:hover~label{color:#FFED85;}


/****   rating_4   ****/
#rating_4{border:none;float:left;}
#rating_4>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating_4>label:before{margin:2px;font-size:12px;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating_4>.half_4:before{content:"\f089";position:absolute;margin-top: 4px;}/*0.5 ngôi sao*/
#rating_4>label{color:#797979;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating_4>input:checked~label,
#rating_4:not(:checked)>label:hover, 
#rating_4:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating_4>input:checked+label:hover,
#rating_4>input:checked~label:hover,
#rating_4>label:hover~input:checked~label,
#rating_4>input:checked~label:hover~label{color:#FFED85;}



/****   rating_5   ****/
#rating_5{border:none;float:left;}
#rating_5>input{display:none;}/*ẩn input radio - vì chúng ta đã có label là GUI*/
#rating_5>label:before{margin:2px;font-size:12px;font-family:FontAwesome;display:inline-block;content:"\f005";}/*1 ngôi sao*/
#rating_5>.half_5:before{content:"\f089";position:absolute;margin-top: 4px;}/*0.5 ngôi sao*/
#rating_5>label{color:#797979;float:right;}/*float:right để lật ngược các ngôi sao lại đúng theo thứ tự trong thực tế*/
/*thêm màu cho sao đã chọn và các ngôi sao phía trước*/
#rating_5>input:checked~label,
#rating_5:not(:checked)>label:hover, 
#rating_5:not(:checked)>label:hover~label{color:#FFD700;}
/* Hover vào các sao phía trước ngôi sao đã chọn*/
#rating_5>input:checked+label:hover,
#rating_5>input:checked~label:hover,
#rating_5>label:hover~input:checked~label,
#rating_5>input:checked~label:hover~label{color:#FFED85;}

.button-view{
    text-align: center;
    padding-top: 62px;  
    margin-left: 15px;
    padding-bottom: 35px;
}
.button-view{
    
    a{
        button{
            color: #ffff;
            background: #fc887b;
            width: 150px;
            height: 50px;
            border: none;
        }
        button:hover{
            color: #ffff;
            background: black;
            transition: all 0.6s ease 0s;
            -moz-transition: all 0.9s ease 0s;
            -webkit-transition: all 0.9s ease 0s;
            -o-transition: all 0.9s ease 0s;
        }
        button:focus{
            outline: none;
        }
    }
}
@media (min-width: 1200px){
    .owl-carousel .owl-dots{
        display: none;
    }
    .new-product{
        border: none;
    }
}
@media (min-width: 992px) and (max-width: 1199px){
    .slider_main{
        margin-left: inherit;
    }
    .owl-nav{
        display: none;
    }
    #rating {
        position: absolute;
        bottom: 58%;
        left: 71%;
    }
    #rating_1 {
        position: absolute;
        bottom: 58%;
        left: 70%;
    }
    #rating_2 {
        position: absolute;
        bottom: 58%;
        left: 70%;
    }
    #rating_3 {
        position: absolute;
        bottom: 58%;
        left: 70%;
    }
    #rating_4 {
        position: absolute;
        bottom: 58%;
        left: 70%;
    }
    #rating_5 {
        position: absolute;
        bottom: 58%;
        left: 70%;
    }
    .text-product .price{
        top: 36%;
    }
    .owl-carousel .owl-dots{
        bottom: -8%;
    }
    .new-product{
        border: none;
    }
    .text-product .button-product{
        left: 54%;
    }
}
@media (min-width: 768px) and (max-width: 991px){
    .slider_main{
        margin-left: inherit;
    }
    .owl-nav{
        display: none;
    }
    .owl-carousel .owl-dots{
        bottom: -8%;
    }
    
}
@media (min-width: 480px)and (max-width: 767px){
    .slider_main{
        margin-left: inherit;
    }
    .owl-carousel .owl-nav{
        display: none;
    }
    .new-product{
        height: 540px;
    }
    .owl-carousel .owl-dots{
        bottom: 0px;
    }
    
    .text-product .price{
        top: 214px;
        left: 20px;
    }
    #rating{
        bottom: 295px;
        right: 2px;
    }
    #rating_1{
        bottom: 295px;
        right: 8px;
    }
    #rating_2{
        bottom: 295px;
        right: 8px;
    }
    #rating_3{
        bottom: 295px;
        right:8px;
    }
    #rating_4{
        bottom: 295px;
        right: 8px;
    }
    #rating_5{
        bottom: 295px;
        right: 8px;
    }
    
}
@media (min-width: 425px)and (max-width: 479px){
    .slider_main{
        margin-left: inherit;
    }
    .owl-carousel .owl-nav{
        display: none;
    }
    .new-product{
        height: 545px;
    }
    .owl-carousel .owl-dots{
        bottom: 0px;
    }   
    .item .new-product .text-product .button-product{
        right: 2px;
        bottom: 115px;
    }
    .item .new-product .text-product .title-like .like{
        bottom: 55px;
        right: 35px;
    }
}
@media (min-width: 375px)and (max-width: 424px){
    .slider_main{
        margin-left: inherit;
    }
    .owl-carousel .owl-nav{
        display: none;
    }
    .new-product{
        height: 545px;
    }
    .owl-carousel .owl-dots{
        bottom: 34px;
    }   
    
    #rating{
        bottom: 300px;
        left: 250px;
    }
    #rating_1{
        bottom: 300px;
        left: 250px;
    }
    #rating_2{
        bottom: 300px;
        left: 250px;
    }
    #rating_3{
        bottom: 300px;
        left: 250px;
    }
    #rating_4{
        bottom: 300px;
        left: 250px;
    }
    #rating_5{
        bottom: 300px;
        left: 250px;    
    }
    .text-product .price{
        top: 214px;
        left: 20px;
    }
}
@media (max-width: 370px){
    .slider_main{
        margin-left: inherit;
    }
    .owl-carousel .owl-nav{
        display: none;
    }
    .new-product{
        height: 545px;
    }
    .owl-carousel .owl-dots{
        bottom: 35px;
    }   
    #rating{
        bottom: 342px;
        left: 200px; 
    }
    #rating_1{
        bottom: 342px;
        left: 200px; 
    }
    #rating_2{
        bottom: 342px;
        left: 200px; 
    }
    #rating_3{
        bottom: 342px;
        left: 200px; 
    }
    #rating_4{
        bottom: 342px;
        left: 200px; 
    }
    #rating_5{
        bottom: 342px;
        left: 200px;    
    }
    .text-product .price{
        top: 170px;
        left: 20px;
    }
    .item .new-product .text-product .button-product a button{
        padding: 5px 10px 5px 10px;
    }
}