.section-banner{
    position: relative;
    background-image: url(../image/Doll.png);
    width: 100%;
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    .banner-main{
        text-align: center;
        margin-top: 180px;
        .section-text{
            color: #fff;
            h1{
                font-weight: 800;
                font-size: 58px;
                letter-spacing: -0.9;
            } 
        }
        .section-text-title{
            color: #fff;
            margin-top: 30px;
            p{
                font-weight: 300;
                font-size: 25px;
                letter-spacing: 2.1;    
            }
        }   
        .section-button{   
            margin-top: 28px;
            margin-left: 24px; 
            input{
                width: 183px;
                height: 50px;
                border: none;
                margin-left: -5px;
                letter-spacing: -0.9;
                &:hover{
                background: #fc887b;
                color: #fff;
                transition: all 0.6s ease 0s;
                -moz-transition: all 0.9s ease 0s;
                -webkit-transition: all 0.9s ease 0s;
                -o-transition: all 0.9s ease 0s;
            }
            }
            input:focus-visible{
                outline: none;
            }

            
        }
    }
    
}


