.section-banner{
    position: relative;
    background-image: url(../image/Doll.png);
    width: 100%;
    height: 570px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    .banner-main{
        text-align: center;
        margin-top: 170px;
        .section-text{
            color: #fff;
            h1{
                font-weight: 800;
                font-size: 58px;
            } 
        }
        .section-text-title{
            color: #fff;
            margin-top: 30px;
            p{
                font-weight: 300;
                font-size: 25px;
            }
        }   
        .section-button{   
            margin-top: 28px;
            margin-left: 24px; 
            input{
                width: 183px;
                height: 50px;
                border: none;
                margin-left: -5px;
            }
            input:focus-visible{
                outline: none;
            }
            
        }
    }
    
}


