
.title{
    text-align: center;
    padding-top: 40px;
    letter-spacing: 1px;
    .title-main{
        padding-top: 15px;
        padding-left: 36px;
        padding-bottom: 10px;
        &::after{
            width: 30px;
            height: 5px;
            background: url( ../image/icon-line.png);
            content: "";
            position: absolute;
        }
        h1{
            font-size: 32px;
        }
    }
    .title-text{
        padding-top: 10px;
        p{
            font-size: 16px;
            font-weight: 400;
        }
    }
}
