
.title{
    text-align: center;
    padding-top: 40px;
    letter-spacing: 1px;
}
.title-main{
    padding-top: 12px;
    padding-left: 48px;
}
.title-main h1{
    font-size: 32px;
}
.title-line{
    margin-top: -6px;
    margin-left: 35px;
}
.title-text{
    padding-top: 10px;
}
.title-text p{
    font-size: 16px;
    font-weight: 400;
}