
    .modal-dialog{
        width: 65%;
        height: 450px;
        .modal-header{
            border: none;
            button{
                border: none;
            }
        }
        .video{
            iframe{
                width: 100%;
                height: 750px;
                padding-left: 15px;
                padding-right: 15px;
            }
        }
    }
.nav-video{
    position: relative;
    background-image: url(../image/video.png);
    width: 100%;
    height: 570px;
    background-repeat: round;
    margin-top: 50px;
    .icon-video{
        position: absolute;
        top: 30%;
        right: 47%;
        font-size: 100px;
        color: #fff;
    }
    .text-video{
        position: absolute;
        top: 48%;
        right: 32%;
        h1{
            font-size: 95px;
            color: #fff;
        }
    }
    @media screen and (max-width: 425px){
        .text-video {
            position: absolute;
            top: 47%;
            right: 5%;
        }
    }
}